/**
 * Program: style.css
 * Created: 08/19/2016 by Matt Holland
 * Located: desktop/bootcamp/homework/week-4-game/assets/css/style.css
 * Purpose: Provide styling instructions for 4th assignment - Star Wars RPG
 */

/* Apply Google font to entire body */
body {
	font-family: 'Fjalla One', sans-serif;
}

/* Main game heading styles */
.jumbotron {
	font-family: 'Bungee', cursive;
	margin-bottom: 5px;
	background: transparent;
	/* Main heading color */
	color: #ad7d37;
}

/* Center align all text */
.text-center {
	text-align: center;
}

/* Green text for attack power and damage text display */
.text-green {
	color: green;
}

/* Image background color class */
.bg-blue {
	background-color: #008cba;
}

/* Image background color class */
.bg-green {
	background-color: green;
}

/* Image background color class */
.bg-red {
	background-color: red;
}

/* Image background color class */
.bg-black {
	background-color: #333;
}

.master-char-list {
	display: inline-block;
}

section {
	/*background-color: #4aaaa5;*/
	background: transparent;
}

/* Main character display list for 1st page load */
div #display-characters {
	margin-top: 8%;
}

/* Main battle and attack section headings */
h3 {
	color: #fff;
}

/* ul will contain every display of character images */
ul {
	padding: 0;
}

li {
	/* Show inline instead of top-bottom */
	display: inline-block;
	/* Do not show bullets */
	list-style: none;
	padding: 0 8px;
}

/* Add extra padding between battling characters */
.li-battle-character {
	padding: 0 30px;
}

/* Style label for character's name label */
p.character-label {
	font-family: 'Orbitron', sans-serif;
	background-color: gray;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    padding: 0 2px;
}

/* Style label for character's health rating */
p.character-health {
	font-family: 'Ravi Prakash', cursive;
	margin: 0;
	color: #fff;
	font-weight: 900;
	font-size: 25px;
}

/* This is the "DEFEATED" label created on left panel dynamically after character is defeated */
.side-defeat-label {
	color: red;
	font-weight: bold;
}

/* Apply character image background colors etc */
img {
	height: 125px;
	width: auto;
	padding: 8px 8px;
	border-radius: 14px;
	margin: 0 4px;
	cursor: pointer;
}